<header th:fragment="header">
    <div class="container-fluid bg-light position-relative shadow">
        <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5">
            <a href="" class="navbar-brand font-weight-bold text-secondary" style="font-size: 50px">
                <i class="flaticon-043-teddy-bear"></i>
                <span class="text-primary">ELITE CLASS</span>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav font-weight-bold mx-auto py-0">
                    <a href="index.html" class="nav-item nav-link active">Home</a>
                    <a href="about.html" class="nav-item nav-link">About</a>
                    <a href="class.html" class="nav-item nav-link">Classes</a>
                    <a href="contact.html" class="nav-item nav-link">창업 문의</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">고객센터</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="blog.html" class="dropdown-item">공지사항</a>
                            <a href="single.html" class="dropdown-item">FAQ</a>
                            <a href="single.html" class="dropdown-item">Q&A</a>
                        </div>
                    </div>
                </div>
<!--                <th:if>마이페이지, 선생님페이지, 관리자 페이지</th:if>-->
<!--                <th:if>로그아웃</th:if>-->
                <a href="" class="btn btn-primary px-4">로그인</a>
            </div>
        </nav>
    </div>
</header>